.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store
*.vscode-test
*.coverage
*.pyc
*.pyo
__pycache__/ 
GEMINI.md
*.env
.env.local
gemcontact.txt
wyjasnienie_systemu_llm.txt
venv/
.kiro/