fastapi
uvicorn[standard]
geopandas
shapely
python-multipart
langchain
langchain-groq
python-dotenv
sqlalchemy
geoalchemy2
psycopg2-binary

# Testing
pytest
pytest-cov
pytest-asyncio
pytest-mock
pytest-xdist
factory-boy
faker
httpx